<div class="header-container" ngxHideOnScroll>
    <div class="btn-container" routerLink="home" ><a>HOME</a></div>
    <div class="btn-container" routerLink="about" ><a>ABOUT US</a></div>
    <div class="btn-container" routerLink="movies"><a>MOVIES</a></div>
    <div class="btn-container" routerLink="events"><a>EVENTS</a></div>
    <div class="btn-container" routerLink="teaser/trailer" ><a>TEASERS & TRAILERS</a></div>
</div>
<router-outlet></router-outlet>

<!-- <div class="image-container">
  
</div> -->