
<div class="header-container" ngxHideOnScroll>
    <div class="btn-container" routerLink="home" (click)="componentAction('home')"><a>HOME</a></div>
    <div class="btn-container" routerLink="about" (click)="componentAction('about')"><a>ABOUT US</a></div>
    <div class="btn-container" routerLink="movies" (click)="componentAction('movies')"><a>MOVIES</a></div>
    <div class="btn-container" routerLink="events" (click)="componentAction('events')"><a>EVENTS</a></div>
    <div class="btn-container" routerLink="teaser/trailer" (click)="componentAction('teaser')"><a>TEASERS & TRAILERS</a></div>
</div>

<div class="image-container">
<router-outlet></router-outlet>
  <!-- <app-home *ngIf="onChanges=='home' " ></app-home>
 <app-about *ngIf="onChanges=='about'" ></app-about>
 <app-movies *ngIf="onChanges=='movies'" ></app-movies>
 <app-events *ngIf="onChanges=='events'" ></app-events>
 <app-teaser-trailer *ngIf="onChanges=='teaser'" ></app-teaser-trailer> -->
  
</div>

