<div class="image-container">
    <h2>ABOUT US</h2>
</div>
<div class="flex-container">
    <div class="text-container">We, Dream Warrior Pictures (DWP), are one of the coveted Media Production house in the
        South Indian Film
        Fraternity. Formed out of passion for Film & Media production, banking on 30 man years of versatile experience,
        co-producing over 12 successful movies in Tamil and Telugu, the duo S.R. Prakashbabu and S.R. Prabhu founded the
        company in 2010, Chennai, India. S.R. Prabhu had been at the helm of affairs in the Film fraternity and had held
        the
        position of Treasurer for the Tamil Film Producers Council (2017-2019).
    </div>
    <div class="text-container">
        We’re a comprehensive media production house operating on the entire operation chain viz. Script Selection, Cast
        &
        Crew selection, Pre-production, Production, Post- Production, Promotion, Sales and Distribution. We span a wider
        range of content generation from production and distribution of movies to web series.
    </div>

</div>
<div class="flex-container-sc1">
    <div class="about-sc1">
        <div><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"></div>
        <div class="about-text-layout">
            <p>
                <span class="description"> Prakash Babu is a partner in Dream Warrior Pictures and Potential Studios.
                He was a partner in Studio Green till 2014. With hands on experience in KollyWood and TollyWood film
                circuit, Prakash Babu brings to table his keen acumen in all walk of movie production &
                distribution.
            </span>
            </p>
            </div>
    </div>

</div>
<div class="production-detail-container">
    
</div>




<div class="detail-section">
    <div class="detail-section-container">
        <div class="detail-section-layout">
            <div class="logo-container">Dream Warrior Pictures</div>
            <div class="detail-text">The images used in this website may be used for identification/illustration
                purposes in the context of critical commentary of the Film/Article through Wikipedia or Wikimedia or
                related sites.</div>

        </div>
        <div class="detail-section-layout">
            <div class="small-heading">QUICK LINKS</div>
            <div class="small-heading-sc">Terms and Conditions for Submission</div>
            <div class="small-heading-sc">Events</div>
            <div class="small-heading-sc">Legal</div>
            <div class="small-heading-sc">Terms of use</div>
            <div class="small-heading-sc">Privacy Policy</div>
        </div>

        <div class="detail-section-layout">
            <div class="small-heading">CONTACT</div>
            <div class="small-heading-sc1"> mail@production.in</div>
            <div class="small-heading">CONNECT</div>

            <div class="media-link">
                <a class="linkedin" href="www.twitter.com"></a>
                <a class="fb" href="www.facebook.com"></a>
                <a class="twitter" href="www.twitter.com"></a>
                <a class="youtupe" href="www.youtupe.com"></a>
                <a class="insta" href="www.instagram.com"></a>
            </div>

        </div>

    </div>
    <footer>Copyright © 2022, Dream Warrior Pictures . All Rights Reserved. Concept by repute</footer>
</div>