<div class="image-container"><h2>ABOUT US</h2></div>
<div class="flex-container">
<div class="text-container">We, Dream Warrior Pictures (DWP), are one of the coveted Media Production house in the South Indian Film
    Fraternity. Formed out of passion for Film & Media production, banking on 30 man years of versatile experience,
    co-producing over 12 successful movies in Tamil and Telugu, the duo S.R. Prakashbabu and S.R. Prabhu founded the
    company in 2010, Chennai, India. S.R. Prabhu had been at the helm of affairs in the Film fraternity and had held the
    position of Treasurer for the Tamil Film Producers Council (2017-2019).
</div>
<div class="text-container">
    We’re a comprehensive media production house operating on the entire operation chain viz. Script Selection, Cast &
    Crew selection, Pre-production, Production, Post- Production, Promotion, Sales and Distribution. We span a wider
    range of content generation from production and distribution of movies to web series.</div>
</div>