body {
    height: 100vh;
    width: 100%;
   margin: 0;
   padding: 0;
   font-family: "Josefin Sans";
   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   color: #7e7e7e;
   line-height: 1.8;
  }

  
  body::-webkit-scrollbar {
    width: 4px;
  }
  body::-webkit-scrollbar-track {
    box-shadow: none;
    background: transparent;
  }
  body::-webkit-scrollbar-thumb {
    background-color: white;
    border: 1px solid aliceblue;
    margin-right: 2px;
    border-radius: 2px;
  }
  .image-container h2{
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    font-family: "Josefin Sans";
  
    letter-spacing: 3px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }